{% extends "AmicaleBundle::layoutUser.html.twig" %}

{% block body %}

    <div class="wrapper style2">
        <div class="title">Forum </div>
        <div id="main" class="container">

            <div id="main" class="container">
                <div class="row 150%">
                    <div class="8u 12u(mobile)">

                        <!-- Content -->
                        <div id="content">
                            <article class="box post">
                                <header class="style1">
                                    <h2>Forum Amical Esprit</h2>
                                </header>

                                <div class="feature-list">
                                    <header>
                                        <h2>Nouvelle section </h2>
                                    </header>
                                    <ul class="style2">
                                        <form method="post">
                                            <li>
                                                <input class="form-control" style="width: 100%;
                                        padding: 12px 20px;
                                        margin: 8px 0;
                                        display: inline-block;
                                        border: 1px solid #ccc;
                                        border-radius: 4px;
                                        box-sizing: border-box;"
                                                       placeholder="Saisir une nouvelle Section..." type="text" name="secNom" />
                                            </li>
                                            <li>
                                                <input type="submit" class="style1" value="Valider" />

                                            </li>
                                        </form>
                                    </ul>
                                </div>
                            </article>

                        </div>

                    </div>

                </div>
            </div>


        </div>
    </div>
    </div>
{% endblock body %}


